h1{
    font-size: 20px;
}
table{
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
}
th,td{
    border: 0.2px solid black;
}
td:nth-child(2){
    background-color: orangered;
}
th{
    background-color: blueviolet;
    color: white;
}
