<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>闰年平年判断器</title>
</head>
<body>
    <script>
        let year
        year = prompt('请输入年份:')
        if(year%4==0 & year%100!=0 ){
            document.write(year,'是闰年')
        }
        else if(year%400==0){
            document.write(year,'是闰年')

        }
        else{
            document.write(year,'不是闰年')
        }
    </script>
</body>
</html>