<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
    <h1>欢迎登录{{ msg[0]['account_name'] }}</h1>
    <div>
        我是主页
    </div>
    <div>
        当前用户:{{ current_user() }}
    </div>
    <div>当前时间{{time}}</div>
    <div>
        <form method="post">
            <input placeholder="请输入用户名" type="text" name="user">
            <input placeholder="输入密码" type="text" name="pwd">
            <input
            type="submit"
            value="提交">
        </form>
        <table>
            <thead>

                <tr>
                    {% for k in item[0].keys() %}
                        <th>{{k}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for i in item %}
                <tr>
                    {% for v in i.values() %}
                    <td>{{v}}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>