<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册页</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <style>
        .box {
            border-radius: 9%;
            width: 350px;
            height: 350px;
            border: 1px solid blueviolet;
            margin: 0 auto;
            margin-top: 100px;
            padding: 30px;
            padding-top: 20px;
        }

        h1 {
            text-align: center;
            color: blueviolet;
        }

        .user_sigin {
            margin-top: 30px;
        }
    </style>
</head>
<body>
<div class="box">
    <h1>hello,欢迎注册</h1>
    <form method="post">
        用户名:<input type="text" placeholder="请输入用户名" name="user" class="form-control"><br>
        密码:<input type="password" id="password" name="pwd" class="form-control" placeholder="输入密码"><br>
        <span class="btn btn-primary" onclick="togglePassword()" id="togtext">显示密码</span>
        <input type="submit" class="btn btn-primary" value="注册"> <input type="reset" class="btn btn-info"><br>
        <a href="login" class="btn btn-warning user_sigin">已有账号,点击登录</a>
    </form>
    <br>
    <span style="color: red">{{ msg }}</span>
</div>
</body>
<script>
    function togglePassword() {


            var passwordField = document.getElementById("password");
            var demo1 = document.getElementById("togtext");

            if (passwordField.type === "password") {


                passwordField.type = "text";
                demo1.innerText = "隐藏密码"

            } else {


                passwordField.type = "password";
                // functext.innerText = "隐藏密码"

            }


        }


</script>
</html>
