<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} 主页 {% endblock %}</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <style>
        th {
            background-color: blueviolet;
            color: white;
            border: 0.2px solid orange;
        }

        .box {
            /*height: 60px;*/
            padding: 10px;
            margin-bottom: 10px;
        }

        tbody tr:hover {

            color: green;
            /*scale: 1.1;*/
            transition: 0.2s all linear;
        }

        form {
            padding: 20px;
        }
    </style>
</head>
<body>
<!--    <h1>欢迎登录{{ msg[0]['account_name'] }}</h1>-->
<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">订单系统</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">当前时间{{time}}</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false" style="color: blueviolet">{{ current_user() }}<span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/logout"  style="color: white;background-color: red"><span class="glyphicon glyphicon-off"></span>&nbsp;注销</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container">
    <div>
        <div class="box">
            <div class="panel panel-default">
                <div class="panel-heading"><span class="glyphicon glyphicon-copy"></span>&nbsp;新建订单</div>
                <div class="panel-body">
                    <form method="post">
                        <input placeholder="请输入用户名" type="text" name="user">
                        <input placeholder="输入密码" type="text" name="pwd">
                        <input
                                class="btn-success"
                                type="submit"
                                value="新建订单">
                        <input
                                class="btn-warning"
                                type="reset"
                                value="重置输入"
                        >
                    </form>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading"><span class="glyphicon glyphicon-list"></span>&nbsp;订单信息</div>

            <!-- Table -->
            <table class="table table-hover">
                <thead>

                <tr>
                    <th>序号</th>
                    {% for k in item[0].keys() %}
                    <th>{{k}}</th>
                    {% endfor %}
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for i in item %}
                <tr>
                    <td>{{ loop.index }}</td>
                    {% for v in i.values() %}
                    <td>{{v}}</td>
                    {% endfor %}
                    <td style="text-align: center">
                        <a class="btn btn-success btn-xs"><span class="glyphicon glyphicon-edit"></span>&nbsp;编辑</a>&nbsp;
                        <a class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span>&nbsp;删除</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {{ getpage() }}
    </div>
</div>

<!--要想下拉菜单起作用需要下载jQuery并且导入,且要将bootstrap的js导入-->
<script src="../static/jquery.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
</body>
</html>