*{
    width: 900px;
    margin: 0 auto;
}
table{
    border-collapse: collapse;
    border:0.4px solid black;
    text-align: center;
}
th{
    background-color:  blueviolet;
}
th:hover{
    background-color: aquamarine;
    
}
tr,td{
    border: 0.3px solid black;
    background-color: bisque;
}
td:hover{
    scale: 1.1;
    background-color: aquamarine;
    color: white;
    transition: 0.2s all linear;
}